

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <%= simple_form_for pet do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :species, collection: Pet::SPECIES %>
        <%= f.input :found_on, html5: true %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>

<!--

      <%# if pet.errors %>
        <ul>
          <%# pet.errors.full_messages.each do |error| %>
            <li><%#= error %></li>
          <%# end %>
        </ul>
      <%# end %>

      <%#= form_for pet do |f| %>
        <div class="form-group">
          <%#= f.label :name %>
          <%#= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%#= f.label :address %>
          <%#= f.text_field :address, class: "form-control" %>
        </div>

        <div class="form-group">
          <%#= f.label :species %>
          <%#= f.text_field :species, class: "form-control" %>
        </div>

        <div class="form-group">
          <%#= f.label :found_on %>
          <%#= f.date_field :found_on, class: "form-control" %>
        </div>
        <%#= f.button :submit %>

      <%# end %>
 -->
